<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cognitionis.afanapp" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CoLE: Discriminación Auditiva y Visual, Memoria y Ritmo</name>
    <description>
        Aplicación educativa con actividades de Discriminación Auditiva y Visual, Memoria y Ritmo
    </description>
    <author email="montse.cole.app@gmail.com" href="http://cognitionis.com">
        Montse de Ayala
    </author>
    <content src="index.html" />
    <!-- DEPRECATED, DELETE THESE LINES <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />-->
    <icon src="res/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="ios">
        <preference name="Orientation" value="all" />
        <preference name="Fullscreen" value="true" /> <!--removes status bar-->
    </platform>
</widget>
