/* reset */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html{margin:0; padding:0; background: #111;}
body{margin:0; padding:0; font:normal 12px arial, sans-serif; color:#333;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/* clearfix */
.cf:before,
.cf:after{content:""; display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}
.clear{content:"."; display:block; height:0; clear:both; visibility:hidden;}


#page{
	margin: 0 auto; position: relative; background:#965; width:94%; min-width:640px; height:80%; 
	/*max-width: 640px;min-height: 480px;min-height: 80%; CANNOT BE A PERCENTAGE :()*/
	min-height: 600px; /*BEST SOLUTION WOULD BE ADAPT PER DEVICE MAXHEIGHT*/
}

h1{font: normal 35px VanillaRegular,Arial,sans-serif; text-align: center; margin: 10px 0 5px 0; color: #eaa;}

#zone_score{font: bold 18px Arial,sans-serif; padding: 5px;}
.col_left{float: left;margin-left:10px;}
.col_right{float: right; text-align: right; margin-right:10px;}
#best_score{color: #111;}
#current_score{}
#remaining_activities{color: #111;}
#current_answered{}
.col_moves{text-align: center; color: #d63;}
.col_moves .critical{color: #c33;}

#zone_canvas{position: relative; overflow: hidden;background:#fee; height:400px;} /*HEIGHT perhaps use variables? css3?*/
#sound{/*height:40%;*/
	width:100%;align:center;margin:0;padding:1px;
}
#answers{/*height:60%;*/
	width:100%;align:center;margin:0;padding:0 5px;background:#fee;
}
#answers ul{height:100%;width:100%;align:center;margin:0;padding:0;decoration:none;border:1px solid black;decoration:none;}
#answers ul li{height:33%;width:100%;text-align:center;margin:0;background:#fee;border:1px solid black;decoration:none;}
/*#answers ul li:hover{background:#5b6;border:1px solid red;}*/


.text-center{
	text-align:center;
}

.hover_red_border{
	width:32%; /* to make it wide */
	text-align:center;
	border:2px solid #a55; /*original border color #fee*/
	decoration:none; 
	margin-right:2px;padding:1px;
	background-color: #d99;
}
/*.hover_red_border:hover{
	border:2px solid red;
}*/

.hover_red_border img{
	width:80%; max-width:150px;
}

.hover_red_border div{
	margin: 0 auto;
}
 
/*Galaxy S4*/
@media screen and (max-device-width: 360px) {
	#page{min-height: 600px;height:620px;max-width:360px;width:360px;}
}



/* short screen (laptop) */
/*@media screen and (max-height: 720px) {
  #page{min-height: 600px;height:600px;}
}

@media screen and (max-height: 720px) and (max-width: 1000px) {
  #page{min-height: 600px;height:600px;}
}

@media screen and (min-height: 720px) and (max-width: 1200px) {
  #page{min-height: 600px;height:600px;}
}

@media screen and (max-height: 800px) {
  #page{min-height: 600px;height:600px;}
}
*/


/* mobile (vertical) */
/*@media screen and (max-width: 640px) {
  h1{font-size: 30px;}
  #zone_message{font-size: 35px;}
  #zone_score{font-size: 14px;}
  //#download_zone{display: block; position: relative; left: 0; top: 0;}
  #download_zone{display: none;}
  #send_to_phone{display: none;}
  #zone_message .bt-app-wall {
    display: inline-block;
  }
}*/

/* mobile (horizontal) */
/*@media screen and (orientation: landscape) {
  #page{min-height: 0;}
  #zone_score{display: none;}
  #zone_jeu{display: none;}
  #zone_message{display: none;}
  #download_zone{display: none;}
  #send_to_phone{display: none;}
  #msg_portrait{display: block; font-size: 20px; text-align: center; padding: 30px;}
}*/
