/* reset */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


/*

afan colors:
green: #6a6   pastel: #aea
yellow: #fa1  pastel: #fc5   extra pastel #ffe4a3
granate: #400;pastel: #faa
white: #eee
http://paletton.com/#uid=7121S0kllw0bwOigYEzpJtst4nX

*/


html{margin:0; padding:0; background: #111;}
body{margin:0 auto; padding:0; font:normal 28px Monospace, Arial, sans-serif; color:#111; width:100%;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#splash_screen {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	margin:0 auto;
	padding-top:80px;
	text-align:center;
	background: #aea;
	z-index: 99999; /* could work without this. Just to make sure in case other elements have also positioning and positive z-indez */
}

img{border:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}

/* clearfix */
.cf:before,
.cf:after{content:""; display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}
.clear{content:"."; display:block; height:0; clear:both; visibility:hidden;}


/* cognitionis responsive */
img, embed, object, video {max-width: 100%;}
nav a, button {min-width:48px;min-height:48px;cursor: pointer;}

#page{
	width:100%; max-width:1000px; min-width:320px;   
	position: absolute; bottom:0px; top:0px; left:0px; right:0px;
	overflow-x:hidden; /*disallow horizontal scrolling*/ 
	background-color:#fa1;/*background:#662;*/
	margin: 0 auto;
    /*margin-left:auto;  margin-right:auto;  */
	/*height:100%;*/
	/* min-height:100%; height:80%; position: relative; max-width: 640px;min-height: 480px;
min-height: 80%; CANNOT BE A PERCENTAGE :() min-width:640px; */
	/*min-height: 600px;*/ /*BEST SOLUTION WOULD BE ADAPT PER DEVICE MAXHEIGHT*/
}

h1{font: normal 26px Monospace,Arial,sans-serif; margin: 5px; color: #722;}

#header{display:block;position:absolute;top:0px; height:48px;width:100%;background-color:#fc5} /*overflow:hidden;*/
#zone_canvas{position:absolute; overflow: hidden;background:#aea; width:100%;} /*#fee*/
.canvas-full{top:0px; bottom:0px;}
.canvas-with-header{top:48px; bottom:1%;}
#header_text{
    display:-ms-inline-grid; /*for IE, centers it a bit*/
}
#header_text:hover{
	cursor:pointer;
}


/*HEIGHT perhaps use variables? css3?*/

select, button {font-family:inherit;font-size:inherit;}

#zone_score{font: bold 14px Monospace, Verdana,Arial,sans-serif; padding: 5px;}
.col_left{float: left;margin-left:10px;}
.col_right{float: right; text-align: right; margin-right:10px;}
#best_score{color: #111;}
#current_score{}
#remaining_activities{color: #111;}
#current_answered{}
.col_moves{text-align: center; color: #d63;}
.col_moves .critical{color: #c33;}

#results-table{
	border:1px solid black;
	margin: 0 auto;
	font-size: 20px;
}

#results-table tbody{background-color:#eee;}
#results-table th{
	background:#333;
	color:#eee;
	font-weight:bold;
}

div.button{
	border:2px solid #111;
    background-color: #eee;
	min-width:48px;min-height:48px;
	display:inline-block; /*make the div adjust to the content*/
	vertical-align: middle;
	text-align:center;
    padding:12px 5px 0px 5px;
    cursor:pointer;
}



button.button{
	/*font-size:30px;*/
	border:2px solid #111;
	background-color: #eee;
	color:#111;
	min-width:48px;min-height:48px;
	margin:2px;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition:    background 0.2s ease-in-out;
	-ms-transition:     background 0.2s ease-in-out;
	transition:         background 0.2s ease-in-out;
}



button.minibutton{
	margin:0px;
	background-color: #eee;
	border:2px solid #111;
    font-size: 18px;
    min-height: 48px; min-width: 48px;
    padding: 10px 16px;
}

button.help{
    color:#45a;
    background:#abf;
    border: 2px solid #45a;
    border-radius: 50px;
    font-size: 26px;
    font-weight: bold;
}

button.go-back{
    color:#6a6;
    background:#fc5;
    border: 2px solid #6a6;
    border-radius: 50px;
    font-size: 35px;
    font-weight: bold;
	padding: 5px 14px;
}

button.backgroundRed{
    background-color: #faa;
}

button.button-long{width:300px;margin:0 50px;}

#sound{/*height:40%;*/
	width:100%;text-align:center;margin:0;padding:1px;
}
#answers{/*height:60%;*/
	width:100%;
	text-align:center;
	/*width:100%;display:table;display:inline;display:inline-block;*/
	margin:0 auto;/*padding:0 5px;*/
	/*background:#fee;*/
}
/*
#answers ul{height:100%;width:100%;align:center;margin:0;padding:0;decoration:none;border:1px solid black;decoration:none;}
#answers ul li{height:33%;width:100%;text-align:center;margin:0;background:#fee;border:1px solid black;decoration:none;}
*/
/*#answers ul li:hover{background:#5b6;border:1px solid red;}*/

#menu-logo-div{height:10px;}

.text-center{
	text-align:center;
}

.fixed-bottom-right{
	position:absolute;
	bottom:16px; right:16px;
}

.fixed-bottom-left{
	position:absolute;
	bottom:16px; left:16px;
}



.covered{
	background:#ffe4a3;
}

#discr_visual_table{
    display:inline-block;
    font-family: myMontessori; 
    font-size: 40px;
    margin:0 160px;
}

#discr_visual_table td{
    border:2px solid #111;
    text-align:center;
    padding: 10px 20px;
    background-color: #eee;
}

#discr_visual_table td:hover{
    cursor:pointer;
}

#discr_visual_table td.covered{
	background:#ffe4a3;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.membox{
	width:16%; max-width:150px;
 	text-align:center;
	/*float:left;*/
	display:inline-block;
	border:1px solid #a55; /*original border color #fee*/
	background-color: #eee; /*d99, fbb*/
	/* on two divs (use .hover_red_border div too) */
	padding:1px;
	margin:0; /*used to be 0 1px*/
	/* on one div (IMPOSSIBLE, there is no max-padding-top)
	padding-top:31%;  
	max-padding-top:250px;*/
}

.membox div{
	margin: 0 auto;
	/*width:30%;  seems to default to 100 that is what we want...*/
	padding-top:100%;  /*force square shape */
}

.hover_red_border{
	width:31%; max-width:250px;
 	text-align:center;
	/*float:left;*/
	display:inline-block;
	border:2px solid #a55; /*original border color #fee*/
	background-color: #eee; /*d99, fbb*/
	/* on two divs (use .hover_red_border div too) */
	padding:1px;
	margin:0 1px;
	/* on one div (IMPOSSIBLE, there is no max-padding-top)
	padding-top:31%;  
	max-padding-top:250px;*/
}

.hover_red_border div{
	margin: 0 auto;
	/*width:30%;  seems to default to 100 that is what we want...*/
	padding-top:100%;  /*force square shape */
}

.bsprite {
	border:2px solid #111;
    background-color: #eee;
    width: 30%;
    padding: 30% 0 0;
	display:inline-block;
    height: 0;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

@font-face {
    font-family: myMontessori;
    src: url(../fonts/memima.ttf);
}


.montessori-div{
	background:#fff;
	color:#000;
    font-size:52px;
	/*font-weight:bold; shows double in iOS*/
}
.montessori{
	font-family: myMontessori; 
}
.montessori-40{
	font-family: myMontessori;
    font-size:40px;
}


.vertical-center-container {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.vertical-center-content {
    display: table-cell;
    vertical-align: middle;
}

.js-modal-dialog {
	background: #fff;
	border-radius: 15px 30px 30px 5px;
    border: 2px solid #6a6;
}


.js-modal-window h2 {
	color:#6a6;
}


a.boxclose{
    color: #6a6;
    background: #ffe4a3;
}



/*.hover_red_border:hover{
	border:2px solid red;
}*/

/* not used since it is an sprite */
/*.hover_red_border img{
	decoration:none;width:80%; max-width:150px; 
}

.hover_red_border div{
	margin: 0 auto;
	//width:30%;  to make it wide 
	padding-top:100%;  force square shape 
}*/




/* 
	in media queries you can use max"-device"-width or height 
	but better use it without -device to capture window resizing
*/

/*Galaxy S4  dips=360x640px, iphone 320x480px */
@media screen and (max-width: 650px) {
	#header{height:48px;}
	.canvas-with-header{top:48px;}
	#results-table{font-size: 16px;}
    button.minibutton{font-size:18px;border-width:1px;min-height:40px; min-width:40px;padding:0px;}
    button.go-back{font-size: 28px;}
    .fixed-bottom-right{bottom:8px; right:8px;}
    .fixed-bottom-left{bottom:8px; left:8px;}
    .js-modal-dialog{margin: 10px auto;	width:95%;font-size:16px;}
    #discr_visual_table{font-size: 35px; margin:0 0;}
    #discr_visual_table td{padding: 10px 20px;}
    button.button-long{width:250px;margin:0 15px;}
}

/* Small Landscape (e.g., Galaxy S4)*/
@media screen and (max-height: 400px) and (min-width: 420px) {
	/*#header{height:37px;}
	#zone_canvas{top:37px;}*/
	#header{height:0px;}
	.canvas-with-header{top:0px; bottom:0;}
	#h1{font-size:14px;}
	#answers{width:60%;}
	body{font-size:16px;}
	#menu-logo-div{display:none;height:0;margin:0;padding:0;}
    button.minibutton{font-size:18px;border-width:1px;min-height:40px; min-width:40px;padding:0px;}
    button.go-back{font-size: 28px;}
    .fixed-bottom-right{bottom:8px; right:8px;}
    .fixed-bottom-left{bottom:8px; left:8px;}
    .js-modal-dialog{margin: 10px auto;	width:95%;font-size:12px;}
    #discr_visual_table{font-size: 35px; margin:0 0;}
    #discr_visual_table td{padding: 10px 20px;}
    button.button-long{width:250px;margin:0 15px;}
}



/* short screen (laptop) */
/*@media screen and (max-height: 720px) {
  #page{min-height: 600px;height:600px;}
}

@media screen and (max-height: 720px) and (max-width: 1000px) {
  #page{min-height: 600px;height:600px;}
}

@media screen and (min-height: 720px) and (max-width: 1200px) {
  #page{min-height: 600px;height:600px;}
}

@media screen and (max-height: 800px) {
  #page{min-height: 600px;height:600px;}
}
*/


/* mobile (vertical) */
/*@media screen and (max-width: 640px) {
  h1{font-size: 30px;}
  #zone_message{font-size: 35px;}
  #zone_score{font-size: 14px;}
  //#download_zone{display: block; position: relative; left: 0; top: 0;}
  #download_zone{display: none;}
  #send_to_phone{display: none;}
  #zone_message .bt-app-wall {
    display: inline-block;
  }
}*/

/* mobile (horizontal) */
/*@media screen and (orientation: landscape) {
  #page{min-height: 0;}
  #zone_score{display: none;}
  #zone_jeu{display: none;}
  #zone_message{display: none;}
  #download_zone{display: none;}
  #send_to_phone{display: none;}
  #msg_portrait{display: block; font-size: 20px; text-align: center; padding: 30px;}
}*/
