.wordimage {
  background-image: url('../../../afan-app-media/img/wordimg-sprite.png');
}

.wordimage-lluvia {
  background-position: -4px -4px;
  width: 150px;
  height: 150px;
}

.wordimage-abeja {
  background-position: -4px -162px;
  width: 150px;
  height: 150px;
}

.wordimage-aceite {
  background-position: -4px -320px;
  width: 150px;
  height: 150px;
}

.wordimage-aeroplano {
  background-position: -4px -478px;
  width: 150px;
  height: 150px;
}

.wordimage-ala {
  background-position: -4px -636px;
  width: 150px;
  height: 150px;
}

.wordimage-almeja {
  background-position: -4px -794px;
  width: 150px;
  height: 150px;
}

.wordimage-anciana {
  background-position: -4px -952px;
  width: 150px;
  height: 150px;
}

.wordimage-antena {
  background-position: -4px -1110px;
  width: 150px;
  height: 150px;
}

.wordimage-arbol {
  background-position: -4px -1268px;
  width: 150px;
  height: 150px;
}

.wordimage-arco {
  background-position: -4px -1426px;
  width: 150px;
  height: 150px;
}

.wordimage-ardilla {
  background-position: -4px -1584px;
  width: 150px;
  height: 150px;
}

.wordimage-avion {
  background-position: -4px -1742px;
  width: 150px;
  height: 150px;
}

.wordimage-azul {
  background-position: -4px -1900px;
  width: 150px;
  height: 150px;
}

.wordimage-bala {
  background-position: -4px -2058px;
  width: 150px;
  height: 150px;
}

.wordimage-ballena {
  background-position: -4px -2216px;
  width: 150px;
  height: 150px;
}

.wordimage-bandera {
  background-position: -4px -2374px;
  width: 150px;
  height: 150px;
}

.wordimage-banyera {
  background-position: -4px -2532px;
  width: 150px;
  height: 150px;
}

.wordimage-barco {
  background-position: -4px -2690px;
  width: 150px;
  height: 150px;
}

.wordimage-bici {
  background-position: -4px -2848px;
  width: 150px;
  height: 150px;
}

.wordimage-bocadillo {
  background-position: -4px -3006px;
  width: 150px;
  height: 150px;
}

.wordimage-boca {
  background-position: -4px -3164px;
  width: 150px;
  height: 150px;
}

.wordimage-brazo {
  background-position: -4px -3322px;
  width: 150px;
  height: 150px;
}

.wordimage-buho {
  background-position: -4px -3480px;
  width: 150px;
  height: 150px;
}

.wordimage-cabra {
  background-position: -4px -3638px;
  width: 150px;
  height: 150px;
}

.wordimage-calcetines {
  background-position: -4px -3796px;
  width: 150px;
  height: 150px;
}

.wordimage-calla {
  background-position: -4px -3954px;
  width: 150px;
  height: 150px;
}

.wordimage-cama {
  background-position: -4px -4112px;
  width: 150px;
  height: 150px;
}

.wordimage-camara {
  background-position: -4px -4270px;
  width: 150px;
  height: 150px;
}

.wordimage-camello {
  background-position: -4px -4428px;
  width: 150px;
  height: 150px;
}

.wordimage-camino {
  background-position: -4px -4586px;
  width: 150px;
  height: 150px;
}

.wordimage-camion {
  background-position: -4px -4744px;
  width: 150px;
  height: 150px;
}

.wordimage-camisa {
  background-position: -4px -4902px;
  width: 150px;
  height: 150px;
}

.wordimage-campana {
  background-position: -4px -5060px;
  width: 150px;
  height: 150px;
}

.wordimage-campo2 {
  background-position: -4px -5218px;
  width: 150px;
  height: 150px;
}

.wordimage-cancion {
  background-position: -4px -5376px;
  width: 150px;
  height: 150px;
}

.wordimage-candado {
  background-position: -4px -5534px;
  width: 150px;
  height: 150px;
}

.wordimage-canya {
  background-position: -4px -5692px;
  width: 150px;
  height: 150px;
}

.wordimage-caracol {
  background-position: -4px -5850px;
  width: 150px;
  height: 150px;
}

.wordimage-carta {
  background-position: -4px -6008px;
  width: 150px;
  height: 150px;
}

.wordimage-casa {
  background-position: -4px -6166px;
  width: 150px;
  height: 150px;
}

.wordimage-cebra {
  background-position: -4px -6324px;
  width: 150px;
  height: 150px;
}

.wordimage-cerdo {
  background-position: -4px -6482px;
  width: 150px;
  height: 150px;
}

.wordimage-cerezas {
  background-position: -4px -6640px;
  width: 150px;
  height: 150px;
}

.wordimage-cerilla {
  background-position: -4px -6798px;
  width: 150px;
  height: 150px;
}

.wordimage-col {
  background-position: -4px -6956px;
  width: 150px;
  height: 150px;
}

.wordimage-comprar {
  background-position: -4px -7114px;
  width: 150px;
  height: 150px;
}

.wordimage-conejo {
  background-position: -4px -7272px;
  width: 150px;
  height: 150px;
}

.wordimage-copa {
  background-position: -4px -7430px;
  width: 150px;
  height: 150px;
}

.wordimage-corazon {
  background-position: -4px -7588px;
  width: 150px;
  height: 150px;
}

.wordimage-corbata {
  background-position: -4px -7746px;
  width: 150px;
  height: 150px;
}

.wordimage-cortinas {
  background-position: -4px -7904px;
  width: 150px;
  height: 150px;
}

.wordimage-cuatro {
  background-position: -4px -8062px;
  width: 150px;
  height: 150px;
}

.wordimage-cuchara {
  background-position: -4px -8220px;
  width: 150px;
  height: 150px;
}

.wordimage-dardo {
  background-position: -4px -8378px;
  width: 150px;
  height: 150px;
}

.wordimage-diana {
  background-position: -4px -8536px;
  width: 150px;
  height: 150px;
}

.wordimage-diccionario {
  background-position: -4px -8694px;
  width: 150px;
  height: 150px;
}

.wordimage-dulce {
  background-position: -4px -8852px;
  width: 150px;
  height: 150px;
}

.wordimage-elefante {
  background-position: -4px -9010px;
  width: 150px;
  height: 150px;
}

.wordimage-ensalada {
  background-position: -4px -9168px;
  width: 150px;
  height: 150px;
}

.wordimage-escenario2 {
  background-position: -4px -9326px;
  width: 150px;
  height: 150px;
}

.wordimage-faro {
  background-position: -4px -9484px;
  width: 150px;
  height: 150px;
}

.wordimage-flor {
  background-position: -4px -9642px;
  width: 150px;
  height: 150px;
}

.wordimage-foca {
  background-position: -4px -9800px;
  width: 150px;
  height: 150px;
}

.wordimage-fresa {
  background-position: -4px -9958px;
  width: 150px;
  height: 150px;
}

.wordimage-gallina {
  background-position: -4px -10116px;
  width: 150px;
  height: 150px;
}

.wordimage-gasolina {
  background-position: -4px -10274px;
  width: 150px;
  height: 150px;
}

.wordimage-gato2 {
  background-position: -4px -10432px;
  width: 150px;
  height: 150px;
}

.wordimage-goma {
  background-position: -4px -10590px;
  width: 150px;
  height: 150px;
}

.wordimage-hoja {
  background-position: -4px -10748px;
  width: 150px;
  height: 150px;
}

.wordimage-hormiga {
  background-position: -4px -10906px;
  width: 150px;
  height: 150px;
}

.wordimage-hueso {
  background-position: -4px -11064px;
  width: 150px;
  height: 150px;
}

.wordimage-huevo {
  background-position: -4px -11222px;
  width: 150px;
  height: 150px;
}

.wordimage-jaula2 {
  background-position: -4px -11380px;
  width: 150px;
  height: 150px;
}

.wordimage-jirafa {
  background-position: -4px -11538px;
  width: 150px;
  height: 150px;
}

.wordimage-koala {
  background-position: -4px -11696px;
  width: 150px;
  height: 150px;
}

.wordimage-lampara {
  background-position: -4px -11854px;
  width: 150px;
  height: 150px;
}

.wordimage-lapiz {
  background-position: -4px -12012px;
  width: 150px;
  height: 150px;
}

.wordimage-leche {
  background-position: -4px -12170px;
  width: 150px;
  height: 150px;
}

.wordimage-libros {
  background-position: -4px -12328px;
  width: 150px;
  height: 150px;
}

.wordimage-limon {
  background-position: -4px -12486px;
  width: 150px;
  height: 150px;
}

.wordimage-abrigo {
  background-position: -4px -12644px;
  width: 150px;
  height: 150px;
}

.wordimage-lombriz {
  background-position: -4px -12802px;
  width: 150px;
  height: 150px;
}

.wordimage-madera {
  background-position: -4px -12960px;
  width: 150px;
  height: 150px;
}

.wordimage-maiz {
  background-position: -4px -13118px;
  width: 150px;
  height: 150px;
}

.wordimage-mano {
  background-position: -4px -13276px;
  width: 150px;
  height: 150px;
}

.wordimage-manzana {
  background-position: -4px -13434px;
  width: 150px;
  height: 150px;
}

.wordimage-maracas {
  background-position: -4px -13592px;
  width: 150px;
  height: 150px;
}

.wordimage-marco2 {
  background-position: -4px -13750px;
  width: 150px;
  height: 150px;
}

.wordimage-mariquita {
  background-position: -4px -13908px;
  width: 150px;
  height: 150px;
}

.wordimage-martillo {
  background-position: -4px -14066px;
  width: 150px;
  height: 150px;
}

.wordimage-mesa {
  background-position: -4px -14224px;
  width: 150px;
  height: 150px;
}

.wordimage-mono {
  background-position: -4px -14382px;
  width: 150px;
  height: 150px;
}

.wordimage-monte {
  background-position: -4px -14540px;
  width: 150px;
  height: 150px;
}

.wordimage-morsa {
  background-position: -4px -14698px;
  width: 150px;
  height: 150px;
}

.wordimage-murcielago {
  background-position: -4px -14856px;
  width: 150px;
  height: 150px;
}

.wordimage-naranja {
  background-position: -4px -15014px;
  width: 150px;
  height: 150px;
}

.wordimage-noria {
  background-position: -4px -15172px;
  width: 150px;
  height: 150px;
}

.wordimage-obrero {
  background-position: -4px -15330px;
  width: 150px;
  height: 150px;
}

.wordimage-oreja {
  background-position: -4px -15488px;
  width: 150px;
  height: 150px;
}

.wordimage-oruga {
  background-position: -4px -15646px;
  width: 150px;
  height: 150px;
}

.wordimage-oso {
  background-position: -4px -15804px;
  width: 150px;
  height: 150px;
}

.wordimage-oveja {
  background-position: -4px -15962px;
  width: 150px;
  height: 150px;
}

.wordimage-pajaro {
  background-position: -4px -16120px;
  width: 150px;
  height: 150px;
}

.wordimage-pantano {
  background-position: -4px -16278px;
  width: 150px;
  height: 150px;
}

.wordimage-papel {
  background-position: -4px -16436px;
  width: 150px;
  height: 150px;
}

.wordimage-paraguas {
  background-position: -4px -16594px;
  width: 150px;
  height: 150px;
}

.wordimage-pastel {
  background-position: -4px -16752px;
  width: 150px;
  height: 150px;
}

.wordimage-patata {
  background-position: -4px -16910px;
  width: 150px;
  height: 150px;
}

.wordimage-pato {
  background-position: -4px -17068px;
  width: 150px;
  height: 150px;
}

.wordimage-pera {
  background-position: -4px -17226px;
  width: 150px;
  height: 150px;
}

.wordimage-percha {
  background-position: -4px -17384px;
  width: 150px;
  height: 150px;
}

.wordimage-perro {
  background-position: -4px -17542px;
  width: 150px;
  height: 150px;
}

.wordimage-pescado {
  background-position: -4px -17700px;
  width: 150px;
  height: 150px;
}

.wordimage-pez {
  background-position: -4px -17858px;
  width: 150px;
  height: 150px;
}

.wordimage-piedra {
  background-position: -4px -18016px;
  width: 150px;
  height: 150px;
}

.wordimage-pino {
  background-position: -4px -18174px;
  width: 150px;
  height: 150px;
}

.wordimage-pinya {
  background-position: -4px -18332px;
  width: 150px;
  height: 150px;
}

.wordimage-plano {
  background-position: -4px -18490px;
  width: 150px;
  height: 150px;
}

.wordimage-platano {
  background-position: -4px -18648px;
  width: 150px;
  height: 150px;
}

.wordimage-plato {
  background-position: -4px -18806px;
  width: 150px;
  height: 150px;
}

.wordimage-pluma {
  background-position: -4px -18964px;
  width: 150px;
  height: 150px;
}

.wordimage-puente {
  background-position: -4px -19122px;
  width: 150px;
  height: 150px;
}

.wordimage-queso {
  background-position: -4px -19280px;
  width: 150px;
  height: 150px;
}

.wordimage-rama {
  background-position: -4px -19438px;
  width: 150px;
  height: 150px;
}

.wordimage-raton {
  background-position: -4px -19596px;
  width: 150px;
  height: 150px;
}

.wordimage-regadera {
  background-position: -4px -19754px;
  width: 150px;
  height: 150px;
}

.wordimage-reloj {
  background-position: -4px -19912px;
  width: 150px;
  height: 150px;
}

.wordimage-rino {
  background-position: -4px -20070px;
  width: 150px;
  height: 150px;
}

.wordimage-rojo {
  background-position: -4px -20228px;
  width: 150px;
  height: 150px;
}

.wordimage-ropa {
  background-position: -4px -20386px;
  width: 150px;
  height: 150px;
}

.wordimage-sal {
  background-position: -4px -20544px;
  width: 150px;
  height: 150px;
}

.wordimage-sandia {
  background-position: -4px -20702px;
  width: 150px;
  height: 150px;
}

.wordimage-sapo {
  background-position: -4px -20860px;
  width: 150px;
  height: 150px;
}

.wordimage-serpiente {
  background-position: -4px -21018px;
  width: 150px;
  height: 150px;
}

.wordimage-seta {
  background-position: -4px -21176px;
  width: 150px;
  height: 150px;
}

.wordimage-silbato {
  background-position: -4px -21334px;
  width: 150px;
  height: 150px;
}

.wordimage-sofa {
  background-position: -4px -21492px;
  width: 150px;
  height: 150px;
}

.wordimage-sol {
  background-position: -4px -21650px;
  width: 150px;
  height: 150px;
}

.wordimage-sombrero {
  background-position: -4px -21808px;
  width: 150px;
  height: 150px;
}

.wordimage-sombrilla {
  background-position: -4px -21966px;
  width: 150px;
  height: 150px;
}

.wordimage-sopa {
  background-position: -4px -22124px;
  width: 150px;
  height: 150px;
}

.wordimage-sorpresa {
  background-position: -4px -22282px;
  width: 150px;
  height: 150px;
}

.wordimage-television {
  background-position: -4px -22440px;
  width: 150px;
  height: 150px;
}

.wordimage-tigre {
  background-position: -4px -22598px;
  width: 150px;
  height: 150px;
}

.wordimage-tijeras {
  background-position: -4px -22756px;
  width: 150px;
  height: 150px;
}

.wordimage-tomate {
  background-position: -4px -22914px;
  width: 150px;
  height: 150px;
}

.wordimage-tomillo2 {
  background-position: -4px -23072px;
  width: 150px;
  height: 150px;
}

.wordimage-topo {
  background-position: -4px -23230px;
  width: 150px;
  height: 150px;
}

.wordimage-tornillo {
  background-position: -4px -23388px;
  width: 150px;
  height: 150px;
}

.wordimage-tortuga {
  background-position: -4px -23546px;
  width: 150px;
  height: 150px;
}

.wordimage-tostadora {
  background-position: -4px -23704px;
  width: 150px;
  height: 150px;
}

.wordimage-tranvia {
  background-position: -4px -23862px;
  width: 150px;
  height: 150px;
}

.wordimage-tren {
  background-position: -4px -24020px;
  width: 150px;
  height: 150px;
}

.wordimage-tres {
  background-position: -4px -24178px;
  width: 150px;
  height: 150px;
}

.wordimage-tuerca {
  background-position: -4px -24336px;
  width: 150px;
  height: 150px;
}

.wordimage-uvas {
  background-position: -4px -24494px;
  width: 150px;
  height: 150px;
}

.wordimage-vaca {
  background-position: -4px -24652px;
  width: 150px;
  height: 150px;
}

.wordimage-ventana {
  background-position: -4px -24810px;
  width: 150px;
  height: 150px;
}

.wordimage-verde {
  background-position: -4px -24968px;
  width: 150px;
  height: 150px;
}

.wordimage-vino {
  background-position: -4px -25126px;
  width: 150px;
  height: 150px;
}

