.wordimage {
  background-image: url('../../../afan-app-media/img/wordimg-sprite.png');
  background-size: 100% auto;
}
.wordimage-lluvia {
	background-position: 0% 0%;
}
.wordimage-abeja {
	background-position: 0% .6289%;
}
.wordimage-aceite {
	background-position: 0% 1.2578%;
}
.wordimage-aeroplano {
	background-position: 0% 1.8867%;
}
.wordimage-ala {
	background-position: 0% 2.5156%;
}
.wordimage-almeja {
	background-position: 0% 3.1445%;
}
.wordimage-anciana {
	background-position: 0% 3.7734%;
}
.wordimage-antena {
	background-position: 0% 4.4023%;
}
.wordimage-arbol {
	background-position: 0% 5.0312%;
}
.wordimage-arco {
	background-position: 0% 5.6601%;
}
.wordimage-ardilla {
	background-position: 0% 6.2890%;
}
.wordimage-avion {
	background-position: 0% 6.9179%;
}
.wordimage-azul {
	background-position: 0% 7.5468%;
}
.wordimage-bala {
	background-position: 0% 8.1757%;
}
.wordimage-ballena {
	background-position: 0% 8.8046%;
}
.wordimage-bandera {
	background-position: 0% 9.4335%;
}
.wordimage-banyera {
	background-position: 0% 10.0624%;
}
.wordimage-barco {
	background-position: 0% 10.6913%;
}
.wordimage-bici {
	background-position: 0% 11.3202%;
}
.wordimage-bocadillo {
	background-position: 0% 11.9491%;
}
.wordimage-boca {
	background-position: 0% 12.5780%;
}
.wordimage-brazo {
	background-position: 0% 13.2069%;
}
.wordimage-buho {
	background-position: 0% 13.8358%;
}
.wordimage-cabra {
	background-position: 0% 14.4647%;
}
.wordimage-calcetines {
	background-position: 0% 15.0936%;
}
.wordimage-calla {
	background-position: 0% 15.7225%;
}
.wordimage-cama {
	background-position: 0% 16.3514%;
}
.wordimage-camara {
	background-position: 0% 16.9803%;
}
.wordimage-camello {
	background-position: 0% 17.6092%;
}
.wordimage-camino {
	background-position: 0% 18.2381%;
}
.wordimage-camion {
	background-position: 0% 18.8670%;
}
.wordimage-camisa {
	background-position: 0% 19.4959%;
}
.wordimage-campana {
	background-position: 0% 20.1248%;
}
.wordimage-campo {
	background-position: 0% 20.7537%;
}
.wordimage-cancion {
	background-position: 0% 21.3826%;
}
.wordimage-candado {
	background-position: 0% 22.0115%;
}
.wordimage-canya {
	background-position: 0% 22.6404%;
}
.wordimage-caracol {
	background-position: 0% 23.2693%;
}
.wordimage-carta {
	background-position: 0% 23.8982%;
}
.wordimage-casa {
	background-position: 0% 24.5271%;
}
.wordimage-cebra {
	background-position: 0% 25.1560%;
}
.wordimage-cerdo {
	background-position: 0% 25.7849%;
}
.wordimage-cerezas {
	background-position: 0% 26.4138%;
}
.wordimage-cerilla {
	background-position: 0% 27.0427%;
}
.wordimage-col {
	background-position: 0% 27.6716%;
}
.wordimage-comprar {
	background-position: 0% 28.3005%;
}
.wordimage-conejo {
	background-position: 0% 28.9294%;
}
.wordimage-copa {
	background-position: 0% 29.5583%;
}
.wordimage-corazon {
	background-position: 0% 30.1872%;
}
.wordimage-corbata {
	background-position: 0% 30.8161%;
}
.wordimage-cortinas {
	background-position: 0% 31.4450%;
}
.wordimage-cuatro {
	background-position: 0% 32.0739%;
}
.wordimage-cuchara {
	background-position: 0% 32.7028%;
}
.wordimage-dardo {
	background-position: 0% 33.3317%;
}
.wordimage-diana {
	background-position: 0% 33.9606%;
}
.wordimage-diccionario {
	background-position: 0% 34.5895%;
}
.wordimage-dulce {
	background-position: 0% 35.2184%;
}
.wordimage-elefante {
	background-position: 0% 35.8473%;
}
.wordimage-ensalada {
	background-position: 0% 36.4762%;
}
.wordimage-escenario {
	background-position: 0% 37.1051%;
}
.wordimage-faro {
	background-position: 0% 37.7340%;
}
.wordimage-flor {
	background-position: 0% 38.3629%;
}
.wordimage-foca {
	background-position: 0% 38.9918%;
}
.wordimage-fresa {
	background-position: 0% 39.6207%;
}
.wordimage-gallina {
	background-position: 0% 40.2496%;
}
.wordimage-gasolina {
	background-position: 0% 40.8785%;
}
.wordimage-gato {
	background-position: 0% 41.5074%;
}
.wordimage-goma {
	background-position: 0% 42.1363%;
}
.wordimage-hoja {
	background-position: 0% 42.7652%;
}
.wordimage-hormiga {
	background-position: 0% 43.3941%;
}
.wordimage-hueso {
	background-position: 0% 44.0230%;
}
.wordimage-huevo {
	background-position: 0% 44.6519%;
}
.wordimage-jaula {
	background-position: 0% 45.2808%;
}
.wordimage-jirafa {
	background-position: 0% 45.9097%;
}
.wordimage-koala {
	background-position: 0% 46.5386%;
}
.wordimage-lampara {
	background-position: 0% 47.1675%;
}
.wordimage-lapiz {
	background-position: 0% 47.7964%;
}
.wordimage-leche {
	background-position: 0% 48.4253%;
}
.wordimage-libros {
	background-position: 0% 49.0542%;
}
.wordimage-limon {
	background-position: 0% 49.6831%;
}
.wordimage-abrigo {
	background-position: 0% 50.3120%;
}
.wordimage-lombriz {
	background-position: 0% 50.9409%;
}
.wordimage-madera {
	background-position: 0% 51.5698%;
}
.wordimage-maiz {
	background-position: 0% 52.1987%;
}
.wordimage-mano {
	background-position: 0% 52.8276%;
}
.wordimage-manzana {
	background-position: 0% 53.4565%;
}
.wordimage-maracas {
	background-position: 0% 54.0854%;
}
.wordimage-marco {
	background-position: 0% 54.7143%;
}
.wordimage-mariquita {
	background-position: 0% 55.3432%;
}
.wordimage-martillo {
	background-position: 0% 55.9721%;
}
.wordimage-mesa {
	background-position: 0% 56.6010%;
}
.wordimage-mono {
	background-position: 0% 57.2299%;
}
.wordimage-monte {
	background-position: 0% 57.8588%;
}
.wordimage-morsa {
	background-position: 0% 58.4877%;
}
.wordimage-murcielago {
	background-position: 0% 59.1166%;
}
.wordimage-naranja {
	background-position: 0% 59.7455%;
}
.wordimage-noria {
	background-position: 0% 60.3744%;
}
.wordimage-obrero {
	background-position: 0% 61.0033%;
}
.wordimage-oreja {
	background-position: 0% 61.6322%;
}
.wordimage-oruga {
	background-position: 0% 62.2611%;
}
.wordimage-oso {
	background-position: 0% 62.8900%;
}
.wordimage-oveja {
	background-position: 0% 63.5189%;
}
.wordimage-pajaro {
	background-position: 0% 64.1478%;
}
.wordimage-pala {
	background-position: 0% 64.7767%;
}
.wordimage-pantano {
	background-position: 0% 65.4056%;
}
.wordimage-papel {
	background-position: 0% 66.0345%;
}
.wordimage-paraguas {
	background-position: 0% 66.6634%;
}
.wordimage-pastel {
	background-position: 0% 67.2923%;
}
.wordimage-patata {
	background-position: 0% 67.9212%;
}
.wordimage-pato {
	background-position: 0% 68.5501%;
}
.wordimage-pera {
	background-position: 0% 69.1790%;
}
.wordimage-percha {
	background-position: 0% 69.8079%;
}
.wordimage-perro {
	background-position: 0% 70.4368%;
}
.wordimage-pescado {
	background-position: 0% 71.0657%;
}
.wordimage-pez {
	background-position: 0% 71.6946%;
}
.wordimage-piedra {
	background-position: 0% 72.3235%;
}
.wordimage-pino {
	background-position: 0% 72.9524%;
}
.wordimage-pinya {
	background-position: 0% 73.5813%;
}
.wordimage-plano {
	background-position: 0% 74.2102%;
}
.wordimage-platano {
	background-position: 0% 74.8391%;
}
.wordimage-plato {
	background-position: 0% 75.4680%;
}
.wordimage-pluma {
	background-position: 0% 76.0969%;
}
.wordimage-puente {
	background-position: 0% 76.7258%;
}
.wordimage-queso {
	background-position: 0% 77.3547%;
}
.wordimage-rama {
	background-position: 0% 77.9836%;
}
.wordimage-raton {
	background-position: 0% 78.6125%;
}
.wordimage-regadera {
	background-position: 0% 79.2414%;
}
.wordimage-reloj {
	background-position: 0% 79.8703%;
}
.wordimage-rino {
	background-position: 0% 80.4992%;
}
.wordimage-rojo {
	background-position: 0% 81.1281%;
}
.wordimage-ropa {
	background-position: 0% 81.7570%;
}
.wordimage-sal {
	background-position: 0% 82.3859%;
}
.wordimage-sandia {
	background-position: 0% 83.0148%;
}
.wordimage-sapo {
	background-position: 0% 83.6437%;
}
.wordimage-serpiente {
	background-position: 0% 84.2726%;
}
.wordimage-seta {
	background-position: 0% 84.9015%;
}
.wordimage-silbato {
	background-position: 0% 85.5304%;
}
.wordimage-sofa {
	background-position: 0% 86.1593%;
}
.wordimage-sol {
	background-position: 0% 86.7882%;
}
.wordimage-sombrero {
	background-position: 0% 87.4171%;
}
.wordimage-sombrilla {
	background-position: 0% 88.0460%;
}
.wordimage-sopa {
	background-position: 0% 88.6749%;
}
.wordimage-sorpresa {
	background-position: 0% 89.3038%;
}
.wordimage-television {
	background-position: 0% 89.9327%;
}
.wordimage-tigre {
	background-position: 0% 90.5616%;
}
.wordimage-tijeras {
	background-position: 0% 91.1905%;
}
.wordimage-tomate {
	background-position: 0% 91.8194%;
}
.wordimage-topo {
	background-position: 0% 92.4483%;
}
.wordimage-tornillo {
	background-position: 0% 93.0772%;
}
.wordimage-tortuga {
	background-position: 0% 93.7061%;
}
.wordimage-tostadora {
	background-position: 0% 94.3350%;
}
.wordimage-tranvia {
	background-position: 0% 94.9639%;
}
.wordimage-tren {
	background-position: 0% 95.5928%;
}
.wordimage-tres {
	background-position: 0% 96.2217%;
}
.wordimage-tuerca {
	background-position: 0% 96.8506%;
}
.wordimage-uvas {
	background-position: 0% 97.4795%;
}
.wordimage-vaca {
	background-position: 0% 98.1084%;
}
.wordimage-ventana {
	background-position: 0% 98.7373%;
}
.wordimage-verde {
	background-position: 0% 99.3662%;
}
.wordimage-vino {
	background-position: 0% 99.9951%;
}


.stretchy .spritev.wordimg-lluvia {
	width:100%;top:0;
}
.stretchy .spritev.wordimg-abeja {
	width:100%;/*top:-100%;*/top:-0.6289%;
}
.stretchy .spritev.wordimg-aceite {
	width:100%;/*top:-200%;*/top:-1.2578%;
}
.stretchy .spritev.wordimg-aeroplano {
	width:100%;top:-300%;
}
.stretchy .spritev.wordimg-ala {
	width:100%;top:-400%;
}
.stretchy .spritev.wordimg-almeja {
	width:100%;top:-500%;
}
.stretchy .spritev.wordimg-anciana {
	width:100%;top:-600%;
}
.stretchy .spritev.wordimg-antena {
	width:100%;top:-700%;
}
.stretchy .spritev.wordimg-arbol {
	width:100%;top:-800%;
}
.stretchy .spritev.wordimg-arco {
	width:100%;top:-900%;
}
.stretchy .spritev.wordimg-ardilla {
	width:100%;top:-1000%;
}
.stretchy .spritev.wordimg-avion {
	width:100%;top:-1100%;
}
.stretchy .spritev.wordimg-azul {
	width:100%;top:-1200%;
}
.stretchy .spritev.wordimg-bala {
	width:100%;top:-1300%;
}
.stretchy .spritev.wordimg-ballena {
	width:100%;top:-1400%;
}
.stretchy .spritev.wordimg-bandera {
	width:100%;top:-1500%;
}
.stretchy .spritev.wordimg-banyera {
	width:100%;top:-1600%;
}
.stretchy .spritev.wordimg-barco {
	width:100%;top:-1700%;
}
.stretchy .spritev.wordimg-bici {
	width:100%;top:-1800%;
}
.stretchy .spritev.wordimg-bocadillo {
	width:100%;top:-1900%;
}
.stretchy .spritev.wordimg-boca {
	width:100%;top:-2000%;
}
.stretchy .spritev.wordimg-brazo {
	width:100%;top:-2100%;
}
.stretchy .spritev.wordimg-buho {
	width:100%;top:-2200%;
}
.stretchy .spritev.wordimg-cabra {
	width:100%;top:-2300%;
}
.stretchy .spritev.wordimg-calcetines {
	width:100%;top:-2400%;
}
.stretchy .spritev.wordimg-calla {
	width:100%;top:-2500%;
}
.stretchy .spritev.wordimg-cama {
	width:100%;top:-2600%;
}
.stretchy .spritev.wordimg-camara {
	width:100%;top:-2700%;
}
.stretchy .spritev.wordimg-camello {
	width:100%;top:-2800%;
}
.stretchy .spritev.wordimg-camino {
	width:100%;top:-2900%;
}
.stretchy .spritev.wordimg-camion {
	width:100%;top:-3000%;
}
.stretchy .spritev.wordimg-camisa {
	width:100%;top:-3100%;
}
.stretchy .spritev.wordimg-campana {
	width:100%;top:-3200%;
}
.stretchy .spritev.wordimg-campo {
	width:100%;top:-3300%;
}
.stretchy .spritev.wordimg-cancion {
	width:100%;top:-3400%;
}
.stretchy .spritev.wordimg-candado {
	width:100%;top:-3500%;
}
.stretchy .spritev.wordimg-canya {
	width:100%;top:-3600%;
}
.stretchy .spritev.wordimg-caracol {
	width:100%;top:-3700%;
}
.stretchy .spritev.wordimg-carta {
	width:100%;top:-3800%;
}
.stretchy .spritev.wordimg-casa {
	width:100%;top:-3900%;
}
.stretchy .spritev.wordimg-cebra {
	width:100%;top:-4000%;
}
.stretchy .spritev.wordimg-cerdo {
	width:100%;top:-4100%;
}
.stretchy .spritev.wordimg-cerezas {
	width:100%;top:-4200%;
}
.stretchy .spritev.wordimg-cerilla {
	width:100%;top:-4300%;
}
.stretchy .spritev.wordimg-col {
	width:100%;top:-4400%;
}
.stretchy .spritev.wordimg-comprar {
	width:100%;top:-4500%;
}
.stretchy .spritev.wordimg-conejo {
	width:100%;top:-4600%;
}
.stretchy .spritev.wordimg-copa {
	width:100%;top:-4700%;
}
.stretchy .spritev.wordimg-corazon {
	width:100%;top:-4800%;
}
.stretchy .spritev.wordimg-corbata {
	width:100%;top:-4900%;
}
.stretchy .spritev.wordimg-cortinas {
	width:100%;top:-5000%;
}
.stretchy .spritev.wordimg-cuatro {
	width:100%;top:-5100%;
}
.stretchy .spritev.wordimg-cuchara {
	width:100%;top:-5200%;
}
.stretchy .spritev.wordimg-dardo {
	width:100%;top:-5300%;
}
.stretchy .spritev.wordimg-diana {
	width:100%;top:-5400%;
}
.stretchy .spritev.wordimg-diccionario {
	width:100%;top:-5500%;
}
.stretchy .spritev.wordimg-dulce {
	width:100%;top:-5600%;
}
.stretchy .spritev.wordimg-elefante {
	width:100%;top:-5700%;
}
.stretchy .spritev.wordimg-ensalada {
	width:100%;top:-5800%;
}
.stretchy .spritev.wordimg-escenario {
	width:100%;top:-5900%;
}
.stretchy .spritev.wordimg-faro {
	width:100%;top:-6000%;
}
.stretchy .spritev.wordimg-flor {
	width:100%;top:-6100%;
}
.stretchy .spritev.wordimg-foca {
	width:100%;top:-6200%;
}
.stretchy .spritev.wordimg-fresa {
	width:100%;top:-6300%;
}
.stretchy .spritev.wordimg-gallina {
	width:100%;top:-6400%;
}
.stretchy .spritev.wordimg-gasolina {
	width:100%;top:-6500%;
}
.stretchy .spritev.wordimg-gato {
	width:100%;top:-6600%;
}
.stretchy .spritev.wordimg-goma {
	width:100%;top:-6700%;
}
.stretchy .spritev.wordimg-hoja {
	width:100%;top:-6800%;
}
.stretchy .spritev.wordimg-hormiga {
	width:100%;top:-6900%;
}
.stretchy .spritev.wordimg-hueso {
	width:100%;top:-7000%;
}
.stretchy .spritev.wordimg-huevo {
	width:100%;top:-7100%;
}
.stretchy .spritev.wordimg-jaula {
	width:100%;top:-7200%;
}
.stretchy .spritev.wordimg-jirafa {
	width:100%;top:-7300%;
}
.stretchy .spritev.wordimg-koala {
	width:100%;top:-7400%;
}
.stretchy .spritev.wordimg-lampara {
	width:100%;top:-7500%;
}
.stretchy .spritev.wordimg-lapiz {
	width:100%;top:-7600%;
}
.stretchy .spritev.wordimg-leche {
	width:100%;top:-7700%;
}
.stretchy .spritev.wordimg-libros {
	width:100%;top:-7800%;
}
.stretchy .spritev.wordimg-limon {
	width:100%;top:-7900%;
}
.stretchy .spritev.wordimg-abrigo {
	width:100%;top:-8000%;
}
.stretchy .spritev.wordimg-lombriz {
	width:100%;top:-8100%;
}
.stretchy .spritev.wordimg-madera {
	width:100%;top:-8200%;
}
.stretchy .spritev.wordimg-maiz {
	width:100%;top:-8300%;
}
.stretchy .spritev.wordimg-mano {
	width:100%;top:-8400%;
}
.stretchy .spritev.wordimg-manzana {
	width:100%;top:-8500%;
}
.stretchy .spritev.wordimg-maracas {
	width:100%;top:-8600%;
}
.stretchy .spritev.wordimg-marco {
	width:100%;top:-8700%;
}
.stretchy .spritev.wordimg-mariquita {
	width:100%;top:-8800%;
}
.stretchy .spritev.wordimg-martillo {
	width:100%;top:-8900%;
}
.stretchy .spritev.wordimg-mesa {
	width:100%;top:-9000%;
}
.stretchy .spritev.wordimg-mono {
	width:100%;top:-9100%;
}
.stretchy .spritev.wordimg-monte {
	width:100%;top:-9200%;
}
.stretchy .spritev.wordimg-morsa {
	width:100%;top:-9300%;
}
.stretchy .spritev.wordimg-murcielago {
	width:100%;top:-9400%;
}
.stretchy .spritev.wordimg-naranja {
	width:100%;top:-9500%;
}
.stretchy .spritev.wordimg-noria {
	width:100%;top:-9600%;
}
.stretchy .spritev.wordimg-obrero {
	width:100%;top:-9700%;
}
.stretchy .spritev.wordimg-oreja {
	width:100%;top:-9800%;
}
.stretchy .spritev.wordimg-oruga {
	width:100%;top:-9900%;
}
.stretchy .spritev.wordimg-oso {
	width:100%;top:-10000%;
}
.stretchy .spritev.wordimg-oveja {
	width:100%;top:-10100%;
}
.stretchy .spritev.wordimg-pajaro {
	width:100%;top:-10200%;
}
.stretchy .spritev.wordimg-pala {
	width:100%;top:-10300%;
}
.stretchy .spritev.wordimg-pantano {
	width:100%;top:-10400%;
}
.stretchy .spritev.wordimg-papel {
	width:100%;top:-10500%;
}
.stretchy .spritev.wordimg-paraguas {
	width:100%;top:-10600%;
}
.stretchy .spritev.wordimg-pastel {
	width:100%;top:-10700%;
}
.stretchy .spritev.wordimg-patata {
	width:100%;top:-10800%;
}
.stretchy .spritev.wordimg-pato {
	width:100%;top:-10900%;
}
.stretchy .spritev.wordimg-pera {
	width:100%;top:-11000%;
}
.stretchy .spritev.wordimg-percha {
	width:100%;top:-11100%;
}
.stretchy .spritev.wordimg-perro {
	width:100%;top:-11200%;
}
.stretchy .spritev.wordimg-pescado {
	width:100%;top:-11300%;
}
.stretchy .spritev.wordimg-pez {
	width:100%;top:-11400%;
}
.stretchy .spritev.wordimg-piedra {
	width:100%;top:-11500%;
}
.stretchy .spritev.wordimg-pino {
	width:100%;top:-11600%;
}
.stretchy .spritev.wordimg-pinya {
	width:100%;top:-11700%;
}
.stretchy .spritev.wordimg-plano {
	width:100%;top:-11800%;
}
.stretchy .spritev.wordimg-platano {
	width:100%;top:-11900%;
}
.stretchy .spritev.wordimg-plato {
	width:100%;top:-12000%;
}
.stretchy .spritev.wordimg-pluma {
	width:100%;top:-12100%;
}
.stretchy .spritev.wordimg-puente {
	width:100%;top:-12200%;
}
.stretchy .spritev.wordimg-queso {
	width:100%;top:-12300%;
}
.stretchy .spritev.wordimg-rama {
	width:100%;top:-12400%;
}
.stretchy .spritev.wordimg-raton {
	width:100%;top:-12500%;
}
.stretchy .spritev.wordimg-regadera {
	width:100%;top:-12600%;
}
.stretchy .spritev.wordimg-reloj {
	width:100%;top:-12700%;
}
.stretchy .spritev.wordimg-rino {
	width:100%;top:-12800%;
}
.stretchy .spritev.wordimg-rojo {
	width:100%;top:-12900%;
}
.stretchy .spritev.wordimg-ropa {
	width:100%;top:-13000%;
}
.stretchy .spritev.wordimg-sal {
	width:100%;top:-13100%;
}
.stretchy .spritev.wordimg-sandia {
	width:100%;top:-13200%;
}
.stretchy .spritev.wordimg-sapo {
	width:100%;top:-13300%;
}
.stretchy .spritev.wordimg-serpiente {
	width:100%;top:-13400%;
}
.stretchy .spritev.wordimg-seta {
	width:100%;top:-13500%;
}
.stretchy .spritev.wordimg-silbato {
	width:100%;top:-13600%;
}
.stretchy .spritev.wordimg-sofa {
	width:100%;top:-13700%;
}
.stretchy .spritev.wordimg-sol {
	width:100%;top:-13800%;
}
.stretchy .spritev.wordimg-sombrero {
	width:100%;top:-13900%;
}
.stretchy .spritev.wordimg-sombrilla {
	width:100%;top:-14000%;
}
.stretchy .spritev.wordimg-sopa {
	width:100%;top:-14100%;
}
.stretchy .spritev.wordimg-sorpresa {
	width:100%;top:-14200%;
}
.stretchy .spritev.wordimg-television {
	width:100%;top:-14300%;
}
.stretchy .spritev.wordimg-tigre {
	width:100%;top:-14400%;
}
.stretchy .spritev.wordimg-tijeras {
	width:100%;top:-14500%;
}
.stretchy .spritev.wordimg-tomate {
	width:100%;top:-14600%;
}
.stretchy .spritev.wordimg-topo {
	width:100%;top:-14700%;
}
.stretchy .spritev.wordimg-tornillo {
	width:100%;top:-14800%;
}
.stretchy .spritev.wordimg-tortuga {
	width:100%;top:-14900%;
}
.stretchy .spritev.wordimg-tostadora {
	width:100%;top:-15000%;
}
.stretchy .spritev.wordimg-tranvia {
	width:100%;top:-15100%;
}
.stretchy .spritev.wordimg-tren {
	width:100%;/*top:-15200%;*/top:-95.5928%;
}
.stretchy .spritev.wordimg-tres {
	width:100%;top:-15300%;
}
.stretchy .spritev.wordimg-tuerca {
	width:100%;top:-15400%;
}
.stretchy .spritev.wordimg-uvas {
	width:100%;top:-15500%;
}
.stretchy .spritev.wordimg-vaca {
	width:100%;top:-15600%;
}
.stretchy .spritev.wordimg-ventana {
	width:100%;top:-15700%;
}
.stretchy .spritev.wordimg-verde {
	width:100%;top:-15800%;
}
.stretchy .spritev.wordimg-vino {
	width:100%;top:-15900%;
}

.stretchy {display:block; float:left; position:relative; overflow:hidden; max-width:158px;}
.stretchy .spacer {width: 100%; height: auto;}
.stretchy .sprite {position:absolute; top:0; left:0; max-width:none; max-height:100%;}
.stretchy .spritev {position:absolute; top:0; left:0; max-width:100%; max-height:none;}

.stretchy.no-limit {max-width: none;} /*you could also set this to a pixel size, for example 320px, to limit the maximum*/
.stretchy.no-limit .sprite {min-height: 100%;}
.stretchy.no-limit .spritev {min-height: 100%;}

.stretchy.no-limit-250 {max-width: 250px;} /*you could also set this to a pixel size, for example 320px, to limit the maximum*/
.stretchy.no-limit-250 .sprite {min-height: 100%;}
.stretchy.no-limit-250 .spritev {min-height: 100%;}


.stretchy.no-limit .sprite img {border:0; padding: 0; margin: 0 ; display: block}
.box {float: left; clear: both; width: 100%; margin: 0 0; background: #eee;}
.stretchy {width:30%; margin-right:1%;}
.stretchyv {width:30%; margin-right:1%;}


