.wordimage {
  background-image: url('../external-git-ignored/afan-app-media/img/wordimg-sprite.png');
  background-size: 100% auto;
}
.wordimage-lombriz {
	background-position: 0% 0%;
}
.wordimage-abeja {
	background-position: 0% .6060%;
}
.wordimage-aceite {
	background-position: 0% 1.2120%;
}
.wordimage-aeroplano {
	background-position: 0% 1.8180%;
}
.wordimage-ala {
	background-position: 0% 2.4240%;
}
.wordimage-almeja {
	background-position: 0% 3.0300%;
}
.wordimage-anciana {
	background-position: 0% 3.6360%;
}
.wordimage-antena {
	background-position: 0% 4.2420%;
}
.wordimage-arbol {
	background-position: 0% 4.8480%;
}
.wordimage-arco {
	background-position: 0% 5.4540%;
}
.wordimage-ardilla {
	background-position: 0% 6.0600%;
}
.wordimage-avion {
	background-position: 0% 6.6660%;
}
.wordimage-azul {
	background-position: 0% 7.2720%;
}
.wordimage-bala {
	background-position: 0% 7.8780%;
}
.wordimage-ballena {
	background-position: 0% 8.4840%;
}
.wordimage-bandera {
	background-position: 0% 9.0900%;
}
.wordimage-banyera {
	background-position: 0% 9.6960%;
}
.wordimage-barco {
	background-position: 0% 10.3020%;
}
.wordimage-bici {
	background-position: 0% 10.9080%;
}
.wordimage-bocadillo {
	background-position: 0% 11.5140%;
}
.wordimage-boca {
	background-position: 0% 12.1200%;
}
.wordimage-brazo {
	background-position: 0% 12.7260%;
}
.wordimage-buho {
	background-position: 0% 13.3320%;
}
.wordimage-cabra {
	background-position: 0% 13.9380%;
}
.wordimage-calcetines {
	background-position: 0% 14.5440%;
}
.wordimage-calla {
	background-position: 0% 15.1500%;
}
.wordimage-cama {
	background-position: 0% 15.7560%;
}
.wordimage-camara {
	background-position: 0% 16.3620%;
}
.wordimage-camello {
	background-position: 0% 16.9680%;
}
.wordimage-camino {
	background-position: 0% 17.5740%;
}
.wordimage-camion {
	background-position: 0% 18.1800%;
}
.wordimage-camisa {
	background-position: 0% 18.7860%;
}
.wordimage-campana {
	background-position: 0% 19.3920%;
}
.wordimage-campo {
	background-position: 0% 19.9980%;
}
.wordimage-cancion {
	background-position: 0% 20.6040%;
}
.wordimage-candado {
	background-position: 0% 21.2100%;
}
.wordimage-canya {
	background-position: 0% 21.8160%;
}
.wordimage-caracol {
	background-position: 0% 22.4220%;
}
.wordimage-carta {
	background-position: 0% 23.0280%;
}
.wordimage-casa {
	background-position: 0% 23.6340%;
}
.wordimage-cebra {
	background-position: 0% 24.2400%;
}
.wordimage-cerdo {
	background-position: 0% 24.8460%;
}
.wordimage-cerezas {
	background-position: 0% 25.4520%;
}
.wordimage-cerilla {
	background-position: 0% 26.0580%;
}
.wordimage-col {
	background-position: 0% 26.6640%;
}
.wordimage-comprar {
	background-position: 0% 27.2700%;
}
.wordimage-conejo {
	background-position: 0% 27.8760%;
}
.wordimage-copa {
	background-position: 0% 28.4820%;
}
.wordimage-corazon {
	background-position: 0% 29.0880%;
}
.wordimage-corbata {
	background-position: 0% 29.6940%;
}
.wordimage-cortina {
	background-position: 0% 30.3000%;
}
.wordimage-cuatro {
	background-position: 0% 30.9060%;
}
.wordimage-cuchara {
	background-position: 0% 31.5120%;
}
.wordimage-dardo {
	background-position: 0% 32.1180%;
}
.wordimage-diana {
	background-position: 0% 32.7240%;
}
.wordimage-diccionario {
	background-position: 0% 33.3300%;
}
.wordimage-dulce {
	background-position: 0% 33.9360%;
}
.wordimage-elefante {
	background-position: 0% 34.5420%;
}
.wordimage-ensalada {
	background-position: 0% 35.1480%;
}
.wordimage-escenario {
	background-position: 0% 35.7540%;
}
.wordimage-faro {
	background-position: 0% 36.3600%;
}
.wordimage-flor {
	background-position: 0% 36.9660%;
}
.wordimage-foca {
	background-position: 0% 37.5720%;
}
.wordimage-fresa {
	background-position: 0% 38.1780%;
}
.wordimage-gallina {
	background-position: 0% 38.7840%;
}
.wordimage-gasolina {
	background-position: 0% 39.3900%;
}
.wordimage-gato {
	background-position: 0% 39.9960%;
}
.wordimage-goma {
	background-position: 0% 40.6020%;
}
.wordimage-gorra {
	background-position: 0% 41.2080%;
}
.wordimage-gorro {
	background-position: 0% 41.8140%;
}
.wordimage-hoja {
	background-position: 0% 42.4200%;
}
.wordimage-hormiga {
	background-position: 0% 43.0260%;
}
.wordimage-hueso {
	background-position: 0% 43.6320%;
}
.wordimage-huevo {
	background-position: 0% 44.2380%;
}
.wordimage-jaula {
	background-position: 0% 44.8440%;
}
.wordimage-jirafa {
	background-position: 0% 45.4500%;
}
.wordimage-koala {
	background-position: 0% 46.0560%;
}
.wordimage-lampara {
	background-position: 0% 46.6620%;
}
.wordimage-lapiz {
	background-position: 0% 47.2680%;
}
.wordimage-leche {
	background-position: 0% 47.8740%;
}
.wordimage-libros {
	background-position: 0% 48.4800%;
}
.wordimage-limon {
	background-position: 0% 49.0860%;
}
.wordimage-lluvia {
	background-position: 0% 49.6920%;
}
.wordimage-abrigo {
	background-position: 0% 50.2980%;
}
.wordimage-madera {
	background-position: 0% 50.9040%;
}
.wordimage-maiz {
	background-position: 0% 51.5100%;
}
.wordimage-mano {
	background-position: 0% 52.1160%;
}
.wordimage-manzana {
	background-position: 0% 52.7220%;
}
.wordimage-maracas {
	background-position: 0% 53.3280%;
}
.wordimage-marco {
	background-position: 0% 53.9340%;
}
.wordimage-mariquita {
	background-position: 0% 54.5400%;
}
.wordimage-martillo {
	background-position: 0% 55.1460%;
}
.wordimage-mesa {
	background-position: 0% 55.7520%;
}
.wordimage-mono {
	background-position: 0% 56.3580%;
}
.wordimage-monte {
	background-position: 0% 56.9640%;
}
.wordimage-morsa {
	background-position: 0% 57.5700%;
}
.wordimage-murcielago {
	background-position: 0% 58.1760%;
}
.wordimage-naranja {
	background-position: 0% 58.7820%;
}
.wordimage-noria {
	background-position: 0% 59.3880%;
}
.wordimage-obrero {
	background-position: 0% 59.9940%;
}
.wordimage-oreja {
	background-position: 0% 60.6000%;
}
.wordimage-oruga {
	background-position: 0% 61.2060%;
}
.wordimage-oso {
	background-position: 0% 61.8120%;
}
.wordimage-oveja {
	background-position: 0% 62.4180%;
}
.wordimage-pajaro {
	background-position: 0% 63.0240%;
}
.wordimage-pala {
	background-position: 0% 63.6300%;
}
.wordimage-pantano {
	background-position: 0% 64.2360%;
}
.wordimage-papel {
	background-position: 0% 64.8420%;
}
.wordimage-paraguas {
	background-position: 0% 65.4480%;
}
.wordimage-pastel {
	background-position: 0% 66.0540%;
}
.wordimage-patata {
	background-position: 0% 66.6600%;
}
.wordimage-pato {
	background-position: 0% 67.2660%;
}
.wordimage-pera {
	background-position: 0% 67.8720%;
}
.wordimage-percha {
	background-position: 0% 68.4780%;
}
.wordimage-perro {
	background-position: 0% 69.0840%;
}
.wordimage-pescado {
	background-position: 0% 69.6900%;
}
.wordimage-pez {
	background-position: 0% 70.2960%;
}
.wordimage-piedra {
	background-position: 0% 70.9020%;
}
.wordimage-pino {
	background-position: 0% 71.5080%;
}
.wordimage-pinya {
	background-position: 0% 72.1140%;
}
.wordimage-pinza {
	background-position: 0% 72.7200%;
}
.wordimage-plancha {
	background-position: 0% 73.3260%;
}
.wordimage-plano {
	background-position: 0% 73.9320%;
}
.wordimage-platano {
	background-position: 0% 74.5380%;
}
.wordimage-plato {
	background-position: 0% 75.1440%;
}
.wordimage-pluma {
	background-position: 0% 75.7500%;
}
.wordimage-preso {
	background-position: 0% 76.3560%;
}
.wordimage-puente {
	background-position: 0% 76.9620%;
}
.wordimage-queso {
	background-position: 0% 77.5680%;
}
.wordimage-rama {
	background-position: 0% 78.1740%;
}
.wordimage-raton {
	background-position: 0% 78.7800%;
}
.wordimage-regadera {
	background-position: 0% 79.3860%;
}
.wordimage-reja {
	background-position: 0% 79.9920%;
}
.wordimage-reloj {
	background-position: 0% 80.5980%;
}
.wordimage-rino {
	background-position: 0% 81.2040%;
}
.wordimage-rojo {
	background-position: 0% 81.8100%;
}
.wordimage-ropa {
	background-position: 0% 82.4160%;
}
.wordimage-sal {
	background-position: 0% 83.0220%;
}
.wordimage-sandia {
	background-position: 0% 83.6280%;
}
.wordimage-sapo {
	background-position: 0% 84.2340%;
}
.wordimage-serpiente {
	background-position: 0% 84.8400%;
}
.wordimage-seta {
	background-position: 0% 85.4460%;
}
.wordimage-silbato {
	background-position: 0% 86.0520%;
}
.wordimage-sofa {
	background-position: 0% 86.6580%;
}
.wordimage-sol {
	background-position: 0% 87.2640%;
}
.wordimage-sombrero {
	background-position: 0% 87.8700%;
}
.wordimage-sombrilla {
	background-position: 0% 88.4760%;
}
.wordimage-sopa {
	background-position: 0% 89.0820%;
}
.wordimage-sorpresa {
	background-position: 0% 89.6880%;
}
.wordimage-television {
	background-position: 0% 90.2940%;
}
.wordimage-tigre {
	background-position: 0% 90.9000%;
}
.wordimage-tijeras {
	background-position: 0% 91.5060%;
}
.wordimage-tomate {
	background-position: 0% 92.1120%;
}
.wordimage-topo {
	background-position: 0% 92.7180%;
}
.wordimage-tornillo {
	background-position: 0% 93.3240%;
}
.wordimage-tortuga {
	background-position: 0% 93.9300%;
}
.wordimage-tostadora {
	background-position: 0% 94.5360%;
}
.wordimage-tranvia {
	background-position: 0% 95.1420%;
}
.wordimage-tren {
	background-position: 0% 95.7480%;
}
.wordimage-tres {
	background-position: 0% 96.3540%;
}
.wordimage-tuerca {
	background-position: 0% 96.9600%;
}
.wordimage-uvas {
	background-position: 0% 97.5660%;
}
.wordimage-vaca {
	background-position: 0% 98.1720%;
}
.wordimage-ventana {
	background-position: 0% 98.7780%;
}
.wordimage-verde {
	background-position: 0% 99.3840%;
}
.wordimage-vino {
	background-position: 0% 99.9900%;
}
